/* To format the HTML5 sementic elements properly by older browsers */
article, aside, figure, footer, header, nav, section {
    display: block;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; 
}
/* Global */
.container {
    width: 80%; /*to make it responsive no specific px setting;*/
    margin: auto; /*makes it go to the middle*/
    overflow: hidden; /*So that no scroll bar where not necessary?*/
    max-height: 80%;

}
ul {
    margin: 0;/*By default UL has margins and padding so this will remove them*/
    padding: 0; 
}
.btn1 {
     height: 33px;
     background: #e8491d;
     border: 0;
     color: white;
     border-radius: 3px;
     outline: none;
}
.btn-send, #option {
    height: 33px;
    border-radius: 2px;
    display: inline-block;  
}

.dark {
    padding: 15px;
    background: #35424a;
    color: white;
    margin-top: 10px;
    margin-bottom:10px;
}
/* header */
header {
    background: #35424a;
    color: white;
    padding-top: 30px;
    min-height: 70px; /*This ensures height adjusts to small screen resize*/
    border-bottom: #e8491d 3px solid;
}
#branding h1 {
    color: rgb(231, 241, 83);
    font-style: italic;
    letter-spacing: .8em;
}
header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    display: inline; /*floats it to left*/
    padding: 0 20px 0 20px; /* right and left 20px while top/bottom 0px*/
}
.current {
    color: orangered;
}
header #branding {
    float: left;
}
header #branding h1 {
    margin: 0;
}
header nav {
    float: right;
    margin-top: 10px;
}
.highlight {
    color:  whitesmoke;;
    font-weight: 900;
    letter-spacing: .2em;
} 
#flow {
    color: rgb(35, 106, 134);
}
header a:hover {
    color: silver;
    font-weight: bold;
}
/* Showcase */
#showcase {
    min-height: 400px; /*so that it can be responsive*/
    background: url("https://i.postimg.cc/Vs4cXKLX/elb.jpg") no-repeat 0;
    opacity: 0.7;
    border-bottom: 4px solid rgb(206, 204, 204);
}
#top-qoute {
    color: rgb(164, 173, 34);
    width: 200px;
}
/* newsletter */
#newsletter {
    padding: 15px;
    color: white;
    background-color: #35424a;
}
#newsletter h2 {
    float: left;
    
}
#newsletter form {
    float: right;
    margin-top: 15px;
}
#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    border-radius: 2px;
    border: none;
    width: 250px;
}
/* boxes */
#boxes {
    margin-top: 20px;
}
#boxes .box {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: start;
    border-right: 1px solid gainsboro;
}
#boxes :last-child {
    border: none;
}
#boxes .box h3 {
    text-align: center;
    color: dimgray;
    
}
#boxes .icon {
    background: rgba(197, 209, 33, 0.733);
    padding: 5px;
    border-radius: 50%;
}
/* sidebar */
aside#sidebar {
    float: right;
    width: 30%;
    list-style: georgian;
    /* padding-left: 5px; */
    margin-top: 10px;
    border-left: 4px solid gainsboro;

} 
.page-title {
    font-size: 200%;
    text-shadow: 2px 2px 2px rgba(197, 209, 33, 0.733);
}
aside#sidebar .send-copy input {
  width: 90%;
  padding: 5px;
}
/* Main-col */
article#main-col {
    float: left;
    max-height: 65%;
    max-width: 65%;
}
/* Books */
ul#books li {
    list-style: none;
    padding: 20px;
    border: gray double 2px;
    margin-bottom: 5px;
    background: #d6d3d3;
}
/* footer */
footer {
    padding: 10px;
    margin-top: 20px;
    color: rgb(224, 217, 217);
    background: #35424a;
    text-align: center;
    border-top: 5px solid gainsboro;
    border-bottom: 5px solid #35424a;
}
footer #copyright {
    padding-left: 10px;
}
#about-foot {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    /* background-color: #efefef; */
    text-align: center;
  
}
/* Screen size below 500px */
@media all and (max-width: 520px) {
    .btn1 {
        width: 70px;
        padding: 5px;
    }
    #newsletter input[type="email"] {
        padding: 4px;
        height: 30px;
        border-radius: 2px;
        border: none;
        width: 200px;
    }
    
    #branding h1 {
        letter-spacing: .2em;
        font-size: 16px;
        padding-left: 80px;
        padding-top: 5px;
    }
    
   
    #showcase {
        background: url("https://i.postimg.cc/fTKktc1P/elb2.jpg") no-repeat 0 -100px;
        background-blend-mode: hue;
        background-size: 80vh;
        min-height:100px;
    }
    #showcase h2{
         font-size: 14px;
    }
    #showcase p{
        font-size: 14px;
        width: 150px
   }
   .highlight {
    color:  whitesmoke; /*rgb(67, 71, 10);*/
    font-weight: 900;
    letter-spacing: .2em;
} 
#newsletter h2 {
    font-size: 16px;
    padding-left: 20px;
    
}
#boxes .box {
    
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    flex: 1;
    margin: 0;
    margin-left: 3px;
    padding: 0;
    text-align: start;
    padding-right: 3px;
    padding-left: 3px;
    justify-content: space-between;
    align-content: space-between;
}
/* Main-col */
article#main-col {
    float: none;
    width: 100%;
}
/* sidebar */
aside#sidebar {
    float: none;
    width: 100%;
    list-style: georgian;
    margin-top: 10px;
    border-left: 4px solid gainsboro;

} 
footer {
    height: 20%;
}
footer#about-foot {
    position: initial;
}
}
