html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: rgba(18, 48, 24, 0.3);
}
.container {
    display: flex;
    flex-direction: column;
    order: -9999;
}


#myVideo {
    position: fixed;
    right: 0;
    z-index: -1;
    padding: 20px;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
.flex-nav {
    order: 1;
    align-self: center;
    padding-top: 15px;
    margin-top: 10px;
    margin-right: -999px;
}
#toggleNav {
    display: block;
    color: aliceblue;
    text-decoration: none;
    line-height: 2em;
    font-weight: 900;
}
.flex-nav ul {
    display: none;
    flex-direction: row;
}
.flex-nav li, a {
    list-style: none;
    /* background: rgba(255,255,255, 0.2); */
    justify-content: center;
    display: block;
    color: greenyellow;
    text-decoration: none;
    line-height: 2em;
    font-weight: 900;
    text-align: center;
    padding: 5px;
}


.plan ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
p {
    color: white;
}
.plan ul li:last-child {
    border-bottom: 0;
}
.plan a {
    text-decoration: none;
    background: rgb(54, 16, 124);
    padding: 10px;
    color: yellow;
    border-radius:4px; 
}
.plan a:hover {
    background: rgb(54, 16, 90);
}
.plan h2 {
    text-transform: uppercase;
    color: rgb(27, 194, 63);
    letter-spacing: 2px;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
}
.free {
    font-weight: bolder;
    font-size: 1em;
    letter-spacing: 4;
    text-transform: uppercase;
}
.price {
    font-size: 50px;
    font-family: serif;
    margin: 10px 0;
}
.pricing-grid {
    order: 3;
    padding-top: 40px;
    max-width: 750px;
    margin: 0 auto;
    flex: 3;
    display: flex;
    align-items: center;
    border-left: 1px dotted green;
    border-right: 1px dotted green;

}

.plan {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    background: rgba(255,255,255, 0.2);
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
}
/* All the descendants of plan */
.plan > * {
    flex: 1 1 100%;
    /* flex-basis: 100%; */

}
.plan .cta {
    align-self: flex-end;
}
.plan ul li {
    color: silver;
    padding-left: 10px;
    text-align: start;
    /* display: flex; */
    list-style-image: url(ico.jpg)
    /* border-bottom: 1px solid rgba(0,0,00.2); */
}

/* flexbox starts here */
.cover {
    flex: 1;
    display: flex;
    order: 2;
    width: 100%; 
    justify-content: center;
    padding: 10px;
    /* border: 2px solid rgba(0, 0, 0, 0.3); */
    border-radius: 5px;
    margin-top: -10px;
    margin-bottom: 40px; 
    align-items: center;
}
.flex-form {
    display: flex;
    border: 20px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.flex-form > * {
    border: 0;
    padding: 10px;
    background: white;
    border-radius: 0;
    outline: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-appearance: none;
}
.flex-form > *:last-child {
    border-right: 0;
}

input[type="search"] {
    flex: 2;
    padding: 5px;
}
#option {
    padding: 4px;
    /* margin-top: 40px; */
}
input[type="search"]:hover, input[type="date"]:hover, #option:hover{
    border: 2px solid green;
}
input[type="submit"] {
    background-color: rgb(27, 194, 63);
    border: 0;
    font-size: 1em;
    padding: 5px;
    border-radius: 3px;
}
input[type="submit"]:hover {
    background: forestgreen;
}
label {
    color: goldenrod;
}

/* #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
} */

@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  html { background: url(cat-dog.jpg) #000 no-repeat center center fixed; }
  #myVideo { display: none; }
}